.menu-grupo1
 {
  color: white;
  font-size: large;
}

.menu-grupo1 ul {
   text-align: center;
}
.menu-grupo1 li {
    list-style: none;
}
h3{
    color: white;
}
.grupo1 img{
    width: 100%;

    height: 100%;
    border-radius: 10px;
   
}

p {
font-size: large;
justify-content: end;
padding-top: 10px;
}
