.menu-grupos{
  background: linear-gradient(to bottom,grey,white);
}
.lista-menu-grupo,
ul {
  list-style-type: none;
  align-items: center;
  justify-content: center;
  padding-left: 5px;
  text-align: center;
}
.grupo {
  color: rgb(20, 21, 21);
  text-align: center;
}
h3 {
  text-align: center;
  padding-left: 5px;
}
.imagenes-grupos img{
  width: 40%;
  height: 40%;
 
}
.card img{
  width: 100%;
}